*{
	padding: 0;
	margin: 0; 
}
@font-face{
	src: url(LULO-CLEAN-ONE-BOLD.OTF);
	font-family: Font;
}

@media only screen and (max-width: 600px) {
    body {
        width: 100%;
    }
    .main{
    	background-position: center;
    }
}
.main{
	text-align: center;
    position: relative;
    top: -60px;
    padding-top: 300px;
    padding-bottom: 300px;
    font-family: 'Roboto', verdana;
    background-image: url('main.jpeg');
    background-size: cover;
    background-attachment: fixed; 
    z-index: 1;
    color: white;

}
.main:after{
    position: absolute;
    content: "";
    height: 100%;
    width: 100%;
    opacity: 0.8;
    background: linear-gradient(45deg, #FC5C7D, #ff00cc, #b06ab3);
	background-size: 600% 600%;
	-webkit-animation: AnimationName 12s ease infinite;
	-moz-animation: AnimationName 12s ease infinite;
	animation: AnimationName 12s ease infinite;
    top: 0;
    left: 0;
    z-index: -1;
}
@-webkit-keyframes AnimationName {
    0%{background-position:87% 0%}
    50%{background-position:14% 100%}
    100%{background-position:87% 0%}
}
@-moz-keyframes AnimationName {
    0%{background-position:87% 0%}
    50%{background-position:14% 100%}
    100%{background-position:87% 0%}
}
@keyframes AnimationName { 
    0%{background-position:87% 0%}
    50%{background-position:14% 100%}
    100%{background-position:87% 0%}
}
.main-logo img{
	height: 15%;
	width: 15%;
	opacity: 0;
	animation: emerge ease-in-out 0.8s forwards;
}
@media only screen and (max-width: 600px) {
	.main-logo img{
		height: 40%;
		width: 40%;
		opacity: 0;
		animation: emerge ease-in-out 0.8s forwards;
	}
}
@keyframes emerge{
	0%{
		transform: translateY(-20px);
		opacity: 0;
	}
	100%{
		transform: translateY(0px);
		opacity: 1;
	}
}
.main h1{
    font-size: 3vh;
    font-weight: 500;
    padding-top: 5%;
    animation: see ease-in-out 1.2s forwards;
    animation-delay: 0.4s;
    opacity: 0;
}
@keyframes see{
	0%{
		opacity: 0;
	}
	100%{
		opacity: 1;
	}
}
section{
	margin: 50px 0;
	max-width: 500px;
	margin-left: auto;
	margin-right: auto;
}
#button-blue{
	float:left;
	width: 100%;
	max-width:500px;
	border: white solid 4px;
	cursor: pointer;
	background-color: transparent;
	margin-top: -4px;
	color: white;
	text-transform: uppercase;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 2vh;
	letter-spacing: .1em;
	padding-top: 22px;
	padding-bottom: 22px;
	font-weight: 500;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-o-transition: all 0.3s;
	-ms-transition: all 0.3s;
	transition: all 0.3s;
}
#button-blue:hover{
	background-color: rgba(0,0,0,0);
	color: black;
}
@media only screen and (max-width: 600px) {
    #button-blue {
        width: 100%;
        max-width: 300px;
    }
	section{
		margin: 50px 0;
		max-width: 300px;
		margin-left: auto;
		margin-right: auto;
	}
}
.ease {
	width: 0px;
	height: 72px;
	background-color: white;
	-webkit-transition: .3s ease;
	-moz-transition: .3s ease;
	-o-transition: .3s ease;
	-ms-transition: .3s ease;
	transition: .3s ease;
}

.btn-container:hover .ease{
	width: 100%;
	max-width: 500px;
	background-color: white;
	padding: 5px;
	border: 0;
}


.about{
	padding-top: 5%;
	position: relative;
    display: flex;
    font-family: 'Roboto',verdana;
    margin-top:-4%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-image: url(about-bg.gif);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: white;
    z-index: 1;
    background-attachment: fixed;
    padding-bottom: 10%;
}
.about:after{
    position: absolute;
    content: "";
    height: 100%;
    width: 100%;
    opacity: 0.4;
    background-color: #F06292;
    top: 0;
    left: 0;
    z-index: -1;
}
.about-text{
    padding: 50px;
    flex: 3;
    transform: translateY(-20px);
    opacity: 0;
    transition: ease-in-out 0.8s;
    transition-delay: 0.2s;
}
.about-text.is-showing{
	transform: translateY(0px);
	opacity: 1;
}
.about-text h1{
	font-family: Font;
	letter-spacing: 2%;
	padding-top: -10%; 
	font-size: 2.4vh;
	letter-spacing: 0.4em;

}
@media only screen and (max-width: 600px) {
    .about-text h1{
    	letter-spacing: 0.4em;
    	font-size: 2.4vh;
    }
    .about{
    	margin-top: -15%;
    }
}
.about-text p{
	font-size: 1.5vh;
	text-align: center;
	width: 80%;
	padding-top: 5%;
}
.events{
	padding-top: 2%;
	font-size: 20px;
	padding-bottom: 15%;
	background-color: #ededed;
}
.btn, .btn-primary, .btn-lg{
	height: 350px;
	width: 300px;
	margin: 3%;
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}
.btn:hover, .btn-primary:hover, .btnlg:hover{
	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.events h1{
	text-align: center;
	padding: 5%;
	font-size: 2.4vh;
	font-family: Font; 
	letter-spacing: 20px;
}
.events button{
	background-color: #fff;
	border: none;
	color: #212121;
	font-size: 3rem;
	
	transform: translateY(-20px);
	opacity: 0;
	transition: ease-in-out 1s;
}
.events button.is-showing{
	opacity: 1;
	transform: translateY(0px);
}
.events button:hover{
	background-color: #fff;
	color: black;
}
.events button:active{
	background-color: white;
}
.team{
    padding-top: 15%;
    font-family: 'Roboto',verdana;
    padding-bottom: 150px;
    background-image: url(cubes.png);
    background-attachment: fixed;

}
.team h1{
	font-family: Font;
	font-size: 2.4vh;
	letter-spacing: 20px;
	padding-bottom: 5%;
}

.row-team{
    display: block;
}
.row-team figure{
	transform: translateY(30px);
    opacity: 0;
    transition: ease-in-out 1s;
    transition-delay: 0.5s;
}
.row-team figure.is-showing{
	transform: translateX(0px);
	opacity: 1;
}
.cell-name{
    position: relative;
    background: #EC407A;
    color: white;
    width: 250px;
    padding: 20px;
    border-radius:1rem;
    display: inline-block;
    margin: 10px;
    margin-top: 1.4%;
    transition: .5s;
    z-index: 1;
}

.cell-name:hover{
   color: white;
   background-color: #ce3669;
    cursor:pointer;
}
.team-name{
    font-size: 2.2rem;
    font-weight: 400;
    padding-top:8px;
}
.person-name{
    font-weight: 500;
    font-size: 1.6rem;
}
.member{
    height: 0;
    overflow: hidden;
    transition: ease-in-out 0.4s;
    transform: translateY(-20px);
    opacity: 0;
}
.member-open{
    height: auto;
    transform: translate(0px);
    opacity: 1;
}
.member-btn{
    padding: 10px;
    background: #64B5F6;
    border: none;
    color: white;
    transition: .3s;
    width: 200px;
    margin-top: 50px;
    margin-bottom: 25px;
    font-family: 'Roboto',verdana;
    font-weight: 300;
    font-size: 2rem;
}

.member-btn:focus{
    outline: none;
}
.register h1{
	font-family: Font;
	font-size: 2.4vh;
	letter-spacing: 20px;
	text-align: center;
	color: #212121;
}
.register p{
	padding: 7px;
	font-size: 1.5vh;
}
.register{
	background-color: #FFCA28;
	text-align: center;
	padding-top: 5%;
	font-family: 'Roboto', 'verdana';
	padding-bottom: 15%;
	z-index: 5;
}
.credz{
	background-color: #FF9E80;
	text-align: center;
	font-size: 1.8vh;
	padding: 5%;

}
.footer{
	text-align: center;
	font-family: 'Roboto', 'verdana';
	font-size: 1.6vh;
	padding: 1%;
	background-color: #F48FB1;
	color: #212121;
}











